body {
    font-family: sans-serif;
    text-align: center;
}
button {
    margin: 0.2rem;
}
table {
    margin: auto;
}

div {
    margin: 1rem;
}

a {
    text-decoration: none;
    color: -moz-default-color;
}

span {
    margin-left: 0.5rem;
}

button {
    background-color: transparent;
    margin: 0.2rem;
    border: 1px solid dimgray;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.1s ease;
}

button:hover {
    background-color: lightgray;
}

.button-clicked {
    background-color: darkgray;
}

progress {
    height: 0.5rem;
    --progress-value: 50%;
    border-radius: 0.5rem;
    overflow: hidden;
}

progress[value]::-moz-progress-bar {
    background-color: #008cff;
    border-radius: 0.5rem;
}

.remove-btn {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 20px;
}